[submodule "common/modules/AddonSettings"]
	path = common/modules/AddonSettings
	url = https://github.com/TinyWebEx/AddonSettings
[submodule "common/modules/MessageHandler"]
	path = common/modules/MessageHandler
	url = https://github.com/TinyWebEx/MessageHandler
[submodule "common/modules/AutomaticSettings"]
	path = common/modules/AutomaticSettings
	url = https://github.com/TinyWebEx/AutomaticSettings
[submodule "common/modules/CommonCss"]
	path = common/modules/CommonCss
	url = https://github.com/TinyWebEx/CommonCss
[submodule "common/modules/Localizer"]
	path = common/modules/Localizer
	url = https://github.com/TinyWebEx/Localizer
