@import "/common/modules/AutomaticSettings/css/photonOptions.css";

a.button {
	appearance: button;
	text-decoration: none;
	color: unset;
}

.hidden {
	display: none;
}

.icon {
	vertical-align: middle;
	width: 2em;
	height: 2em;
}
